{% extends "courses/base.html" %}
{% block content %}
<header class = 'hero'>
    <h1> Bem vindo a Academia Celke! </h1>
    <p> Transforme sue corpo e sua mente com treinos personalizados e alcance seus objetivos de forma eficiente.</p>
    <a href = "#" class="btn btn-light btn-lg mt-3"> Explore Nossos Planos </a>
</header>

<main class="container my-5">
    <section class="text-center">
        <h2 class="mb-5"> Por que treinar conosco? </h2>
        <p class="mb-5"> Cuidar da saúde e bem-estar é essencial para uma vidaequilibrada e feliz. Treinar na nossa academia ajuda você a:</p>
        <div class = "row mb-4">
            <div class = "col-md-4">
                <div class="card shadow border-light">
                    <div class="card-body">
                        <h5 class="card-titlle mb-3">Manter-se Saudável</h5>
                        <p class="card-text"> Melhore sua saúde física e mental com treinos que se adaptam ao seu estilo de vida.            </p>
                    </div>
                </div>
            </div>
            <div class= "col-md-4">
                <div class= "card shadow border-light">
                    <div class="card-body">
                        <h5 class="card-title mb-3"> Alcançar Resultados</h5>
                        <p class= "card-text"> Conte com profissionais qualificados para ajudar você a atingir suas metas de form eficiente.</p>
                    </div>
                </div>
            </div>
            <div class= "col-md-4">
                <div class= "card shadow border-light">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Ganhar Confiança</h5>
                        <p class= "card-text"> Melhore sua autoestima e bem-estar com um corpo saudável e ativo.                           </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}

